<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1>Edit <%=playlist.playlistTitle%></h1>
      <form action="/playlist/<%=playlist._id%>?_method=PUT" enctype="multipart/form-data" method="POST">
        <label for="playlistTitle">Title</label>
        <input type="text" name="playlistTitle" placeholder="<%=playlist.playlistTitle%>" />
        <label for="playlistDescription">Description</label>
        <input type="text" name="playlistDescription" placeholder="<%=playlist.playlistDescription%>" />
        <input type="file" name="audio">
        <br><br>
        <input type="submit" value="Submit Changes">
      </form>
    </div>
  </body>
</html>
