<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1 class="title" class="playlists">Playlists</h1>
        <ul>
          <% for (let i = 0; i < playlist.length; i++) { %>
            <li>
              <a href="/playlist/<%=playlist[i]._id%>">
                <%= playlist[i].playlistTitle %>
              </a>
            </li>
          <% } %>
    </div>
    <footer class="page-footer">
      <%- include ('../partials/footer.ejs') %>
    </footer>
  </body>
</html>