<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
      <div class="container">
        <h1 id="showtitle"> <%= playlist.playlistTitle %> </h1>
        <p><i>Edit playlist to add music</i></p>
        <h5> <%= playlist.playlistDescription %> </h5>
        <a href="/playlist/<%=playlist._id%>/edit">Edit this playlist</a>
        <form action="/playlist/<%=playlist._id%>?_method=DELETE" method="POST">
          <input class="button" type="submit" value="Delete this playlist">
        </form>
        <br>/<br/>
        <% for (i = 0; i < playlist.audio.length; i++) { %>
        <audio controls>
          <source src="<%=playlist.audio[i]%>">
        </audio>
        <% } %>
      </div>
      <footer class="page-footer">
        <%- include ('../partials/footer.ejs') %>
      </footer>
  </body>
</html>