<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
      <div class="container">
        <h1> <%= playlist.playlistTitle %> </h1>
        <h5> <%= playlist.playlistDescription %> </h5>
        <a href="/playlist/<%=playlist._id%>/edit">Edit this playlist</a>
        <br><br>
        <form action="/playlist/<%=playlist._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete this playlist">
        </form>
        <br><br>
        
      </div>
  </body>
</html>
